<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>769491253471-5c39lc8jnddc2vksnd0e9g3ugv1kjte8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.769491253471-5c39lc8jnddc2vksnd0e9g3ugv1kjte8</string>
	<key>API_KEY</key>
	<string>AIzaSyAD4k9PndT2QqOY9OuEvYRw1iXPW6rd9H4</string>
	<key>GCM_SENDER_ID</key>
	<string>769491253471</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.FoodDeliveryUiPractice</string>
	<key>PROJECT_ID</key>
	<string>food-order-7bb20</string>
	<key>STORAGE_BUCKET</key>
	<string>food-order-7bb20.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:769491253471:ios:0bb7303523782a9234516a</string>
</dict>
</plist>